<p>NUESTROS PRODUCTOS</p>

{{#if productos}}
<table>
    <thead>
        <th>Title</th>
        <th>Price</th>
        <th>Thumbnail</th>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{this.title}}</td>
            <td>$ {{this.price}}</td>
            <td><img style="width: 50px; height:50px" src={{this.thumbnail}}></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h2>No hay productos</h2>
{{/if}}
<div class="contenedorChat">
    <form onsubmit =return enviarMensaje()>
    <input type="mail" placeholder="Ingrese su Mail"id="mail" required>
    <input type="text" placeholder="Ingrese texto "id="text" required>
    <button type="submit"> ENVIAR MENSAJE</button>
    </form>
    <div id="mensajes">
    </div>
</div>
